<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Model Tester - AI MODEL TESTER</title>
    <link rel="stylesheet" href="{% static 'css/model-waiting.css' %}">

</head>
<body>
    <div class="model-page">
        <div class="menu">
            <h2>AI MODEL TESTER</h2>
        </div>

        <div class="models">
            <!-- 1st model -->
            <div class="model-box" id="model-1"></div>

            <div class="model-box" id="model-2"></div>

            <div>
                <p>Train started! <br>Please wait. <br>Result will be shown after the training.</p>
            </div>

            <script>
                var time = parseInt("{{ waiting_time }}");

                function sleep(ms) {
                  return new Promise((r) => setTimeout(r, ms));
                }

                function test() { //결과창으로 리다이렉트
                  console.log('waiting');
                  sleep(time).then(() => window.location.replace('result'));
                }

                test()
            </script>

        </div>

    </div>

</body>
</html>