                    <p>Generation
                    <select name="ne_generation">
                        <option>50</option>
                        <option>100</option>
                        <option>500</option>
                        <option>1000</option>
                    </select></p>

                    <p>Population
                    <select name="ne_population">
                        <option>100</option>
                        <option>300</option>
                        <option>500</option>
                    </select></p>

                    <p>Top Limit
                    <select name="ne_top_limit">
                        <option>5%</option>
                        <option>20%</option>
                        <option>30%</option>
                    </select></p>