                   <p>Number of episode
                    <select name="q_number_of_episode">
                        <option>100</option>
                        <option>1000</option>
                        <option>10000</option>
                    </select></p>

                    <p>Learning rate
                    <select name="q_learning_rate">
                        <option>0.7</option>
                        <option>0.5</option>
                        <option>0.2</option>
                    </select></p>
