<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME - AI MODEL TESTER</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">
</head>
<body>
    <div class="whole_page">
        <div>
             <h1 id="title">Cartpole based<br>Deep Learning Service</h1>
        </div>

        <div class = "to-diff-buttons-box">
            <form method="post">
                <input type="submit" value="START" name="start" class="to-diff-page-button" formmethod="post" >
                <input type="submit" value="ABOUT" name="about" class="to-diff-page-button" formmethod="post">
            </form>
        </div>
    </div>
</body>
</html>