<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME - AI MODEL TESTER</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">
</head>
<body>
    <div class="whole_page">
        <div>
             <h1 id="title">Cartpole based<br>Deep Learning Service</h1>
        </div>

        <div class = "to-diff-buttons-box">
            <button onclick="window.location.href='/model-select/'" class="to-diff-page-button"><a>START</a></button>
            <button onclick="window.location.href='/intro/'" class="to-diff-page-button">ABOUT</button>
        </div>
    </div>
</body>
</html>