<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME - AI MODEL TESTER</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">
</head>
<body>
    <div class="whole_page">
        <div>
             <h1 id="title">Cartpole based<br>Deep Learning Service</h1>
        </div>

        <div class = "to-diff-buttons-box">
            <a href="main/model-test.html" class="to-diff-page-button" role="button">
                <span class="elementor-button-text">Start!</span>
            </a>

            <a href="main/intro.html" class="to-diff-page-button" role="button">
                <span class="elementor-button-text">About!</span>
            </a>
        </div>
    </div>
</body>
</html>