.model-page {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-image: url("background_ml.jpg");
    background-size: 3000px 2000px;
    color: white;
}

.model-page > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.models {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
}


.model-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    align-items: center;
    width: 400px;
    height: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
}